<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SDJulio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="WindowsFormsApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <SDJulio.Properties.Settings>
            <setting name="SDJulio_Actuador_Actuador" serializeAs="String">
                <value>http://192.168.207.3:8080/EjemploMaster/services/Actuador.ActuadorHttpSoap11Endpoint/</value>
            </setting>
            <setting name="SDJulio_WebReference_Sensor" serializeAs="String">
                <value>http://192.168.207.3:8080/EjemploMaster/services/Sensor.SensorHttpSoap11Endpoint/</value>
            </setting>
            <setting name="SDJulio_UDDI_UDDIInquiryService" serializeAs="String">
                <value>http://192.168.207.3:8080/juddiv3/services/inquiry</value>
            </setting>
        </SDJulio.Properties.Settings>
        <WindowsFormsApp1.Properties.Settings>
            <setting name="WindowsFormsApp1_EjemploMaster_Sensor" serializeAs="String">
                <value>http://192.168.207.3:8080/EjemploMaster/services/Sensor.SensorHttpSoap11Endpoint/</value>
            </setting>
            <setting name="WindowsFormsApp1_Actuador_Actuador" serializeAs="String">
                <value>http://192.168.207.3:8080/EjemploMaster/services/Actuador.ActuadorHttpSoap11Endpoint/</value>
            </setting>
        </WindowsFormsApp1.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>